@{
    ViewData["Title"] = "İletişim";
}
@{
    ViewData["Message"] = "İletişim Bilgileri";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>

<address>
    Güzelyalı-Burgaz Mahallesi No:47/44<br />
    Mudanya, Bursa 16180<br />
    <abbr title="Phone">Tel:</abbr>
    0555 555 55 55
</address>

<address>
    <strong>Email:</strong> <a href="mailto:aydinmustafacan10@gmail.com">aydinmustafacan10@gmail.com</a><br />
    <strong>İkincil Email:</strong> <a href="mailto:kissimmee.okeechobee@gmail.com">kissimmee.okeechobee@gmail.com</a>
</address>
